@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

/**
* body style
*/
body {

	background-color: #FFEBAB;
	overflow-y: visible;
	overflow-x: hidden;
}


/**
* Titles style
*/
h1 {

	font-family: 'Fjalla One', sans-serif;
	font-size: 400%;
	color: #D90404;
	text-align: center;
}

/**
* Subtitles style
*/
h2 {

	font-family: 'Dosis', sans-serif;
	font-size: 150%;
	color: #BDBDBD;
	text-align: center;
}