/**
*	White box: title box;
*/
.box2{

	background-color: #FFFFFF;
	width: 95%;
	left: 3%;
	position: relative;
}

/**
*	Green box: "entrar como";
*/
.box3 {

	/*About the box*/
	background-color: #2A948D;

	/*About the typography*/
	font-family: 'Dosis', sans-serif;
	color: #FFFFFF;
	text-align: center;
	font-size: 150%;
}

/**
*	White box: it contains both log in options;
*/
.box4 {

	background-color: #FFFFFF;
	width: 95%;
	left: 3%;
	position: relative;
}

.loginBox {

	position: relative;
	left: -3%;
	
}

.button1 {

	background-color: #000000;

	font-family: 'Dosis', sans-serif;
	color: #FFFFFF;
	text-align: center;
	font-size: 150%;
	position: relative;
	left: 14%;
	cursor: pointer;

	border-radius: 80px;
}

body {

	background-color: #FFEBAB;
	overflow-x: hidden;
	overflow-y: visible;
}

h1 {

	color: #D90404;
	font-family: 'Fjalla One', sans-serif;
	font-size: 400%;
	text-align: center;
}