/*White rectangle */
.boxed {

  background-color: #FFFFFF;
}

/*Sign up button*/
.button1{

	background-color: #2A948D;
	border: 1px;
	cursor: pointer;
    border-radius: 80px;
	font-size: 120%;
	font-family: 'Dosis', sans-serif;
	color: #FFFFFF;
    height: 50px;
    width: 200px;

    position:absolute;
    top:60%;
    left:20%;
}

/*Sign up button*/
.button2{

	background-color: #2A948D;
	border: 1px;
	cursor: pointer;
    border-radius: 80px;
	font-size: 120%;
	font-family: 'Dosis', sans-serif;
	color: #FFFFFF;
    height: 50px;
    width: 200px;

    position:absolute;
    top:60%;
    left:60%;
}

.button3{

	background-color: #2A948D;
    border-radius: 80px;
    cursor: pointer;
	font-size: 120%;
	font-family: 'Dosis', sans-serif;
	color: #FFFFFF;
    height: 31px;
    width: 150px;
    position: absolute;
    left:43%;
    top: 100%;
    border: 1px;
}

.regular-checkbox{

	-webkit-appearance: none;
	background-color: #FFFFFF;
	border: 1px solid #2A948D;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 5px;
	border-radius: 3px;
	display: inline-block;
}

.regular-checkbox:active, .regular-checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked {
	background-color: #2A948D;
	border: 1px solid #2A948D;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
}

/*Change of colors for checkbox depending on its state (checked, not checked)*/
[type="checkbox"] {
  position: absolute;
  left: 500px;
}

[type="checkbox"]:not(:checked) + label:after {
  	color: #FFFFFF;
}

[type="checkbox"]:checked + label {
  	color: #FFFFFF;
}

[type="checkbox"] + label {

	/*About checkbox*/
	display: block;
	position: relative;
	padding-left: 50px;
	cursor: pointer;
	left: 40%;

	/*About typography*/
	font-size: 20px;
	font-family: 'Dosis', sans-serif;
	color: #2A948D;
}

[type="text"]{

	/*About text field*/
	position: absolute;
	border-radius: 80px;
	border-color: #2A948D;
	border: 3px;
  	left: 350px;
  	width: 500px;
  	top: 96%;

  	/*About typography*/
  	font-family: 'Dosis', sans-serif;
  	color: #2A948D;
  	text-align: center;
  	font-size: 120%;
}

select{
		
	/*About the box*/
	-webkit-appearance: none;
	-moz-appearance: none;
	position: absolute;
	left: 40%;
	width: 250px;
	border-radius: 80px;
	border-color: #2A948D;

	/*About typography*/
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
	color: #BDBDBD;
	
}
/*Body*/
body {

	overflow-x: hidden;
	overflow-y: visible;
	background-color: #FFEBAB;
}

/*title style: base de datos de servicios medicos*/
h1 {

	color: #D90404;
	font-family: 'Fjalla One', sans-serif;
	font-size: 400%;
} 

/*description style: te ayudamos a encontrar...*/
h2 {

	color: #BDBDBD;
	font-family: 'Dosis', sans-serif;
	font-size: 150%;
}